body{
    margin: 0px;
    font-family: sans-serif;
}

.container {
    width:1200px;
    margin-inline:auto;
}

.container h1{
    color:green;
    font-size:3rem;
    text-align:center;
}

.container .p{
font-size: 1rem;
text-align: center;
}

img {
    float:left;
    margin-right:10px;
}


.color-red{
    color:white;
    padding-left:10px;
    font-size:5rem;
    height: 120px;
    width: 120px;
    background-color: red;
}
.color-green{
    color:white;
    padding-left:10px;
    font-size:5rem;
    height: 120px;
    width: 120px;
    background-color: green;
}
.color-blue{
    color:white;
    padding-left:10px;
    font-size:5rem;
    height: 120px;
    width: 120px;
    background-color:blue;
}

.color-brown{
    color:white;
    padding-left:10px;
    font-size:5rem;
    height: 120px;
    width: 120px;
    background-color: brown;
}

.whole-box .box{
    float: left;
}


h3{
    display:block;
}
