#A{
    color: green; 
    text-align: center; 
    font-family: sans-serif; 
    font-size: 40px;
}

#B{
    font-family: 
    sans-serif; font-size: 30px;
}

#C{
    text-decoration: line-through;
}

