body{
    margin: 0px;
}


h1{
    color:green;
text-align: center;
font-family:sans-serif;

}

img{
    float:left;
    max-width: 200px;
    margin-right: 10px;

}

.container{

    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap:100px
}

.container-first{
    width:400px;
}

.container-second{
    width:400px;
}
.container-third{
    width:400px;
}
